
    <!--<h1 style="color: royalblue">{{title}}</h1>
    
    <nav>
      <a routerLink="login" class="btn btn-primary active" role="button" routerLinkActive="active">AdminLogin</a>
      <a routerLink="createCustomer" class="btn btn-primary active" role="button" routerLinkActive="active">Register Citizen</a>
      <a routerLink="CitizenLogin" class="btn btn-primary active" role="button" routerLinkActive="active">CitizenLogin</a>
    </nav>-->

    
    
 <!--<ul class="navbar-nav mr-auto">
    <li class="nav-item ">
        <a class="nav-link waves-light" mdbRippleRadius routerLink="#">Home<span class="sr-only">(current)</span></a>
  
    <li class="nav-item">
        <a class="nav-link waves-light" mdbRippleRadius routerLink="login">AdminLogin</a>
   
    <li class="nav-item">
       <a class="nav-link waves-light" mdbRippleRadius routerLink="createCustomer">RegisterCitizen</a>
   </li>
  
</ul>-->

  <!-- <div><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;suraseVishal8@gmail.com<br>
   <i class="fa fa-mobile-phone" aria-hidden="true"></i>&nbsp; &nbsp;&nbsp;&nbsp;+91 9766677962</div>-->

   <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
   <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <!------ Include the above in your HEAD tag ---------->
   
   <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
     <a class="navbar-brand" href="#">SmartCity</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
   
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav mr-auto">
         <li class="nav-item active">
           <a class="nav-link" href="#">
             <i class="fa fa-home"></i>
             Home
             <span class="sr-only">(current)</span>
             </a>
         </li>
       <li class="nav-item">
            <a class="nav-link" routerLink="login" class="btn btn-primary active" role="button" routerLinkActive="active" >
           
             <i class="fa fa-envelope-o">
               <span class="badge badge-danger">11</span>
             </i>
             AdminLogin
           </a>
         </li>
        


         <li class="nav-item">
         <a class="nav-link disabled" routerLink="createCustomer" class="btn btn-primary active" role="button" routerLinkActive="active">

      
             <i class="fa fa-envelope-o">
               <span class="badge badge-warning">11</span>
             </i>
             Register Citizen
           </a>

         
          </li>
          <li class="nav-item">
              
              <a class="nav-link disabled" routerLink="CitizenLogin" class="btn btn-primary active" role="button" routerLinkActive="active">
     
           
                  <i class="fa fa-envelope-o">
                    <span class="badge badge-warning">11</span>
                  </i>
                  CitizenLogin
                </a>
              </li>

         <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <i class="fa fa-envelope-o">
               <span class="badge badge-primary">11</span>
             </i>
             Dropdown
           </a>
           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
             <a class="dropdown-item" href="#">Action</a>
             <a class="dropdown-item" href="#">Another action</a>
             <div class="dropdown-divider"></div>
             <a class="dropdown-item" href="#">Something else here</a>
           </div>
         </li>
       </ul>
       <ul class="navbar-nav ">
         <li class="nav-item">
           <a class="nav-link" href="#">
             <i class="fa fa-bell">
               <span class="badge badge-info">11</span>
             </i>
            
           </a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#">
             <i class="fa fa-globe">
               <span class="badge badge-success">11</span>
             </i>
            
           </a>
         </li>
       </ul>
       <form class="form-inline my-2 my-lg-0">
         <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
         <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
       </form>
     </div>
   </nav>
   





    <router-outlet></router-outlet>
  







